.title {
  margin: 50px 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 80px;
  border-radius: 10px;
  gap: 10px;
  text-transform: capitalize;
  background: lightseagreen;
}

.category.html {
  background-color: #57c4ff31;
}

.category.java-script {
  background-color: #da85c731;
}

.category.react {
  background-color: #7fb88133;
}

.category.next-js {
  background-color: #ff795736;
}

.category.css {
  background-color: #ffb04f45;
}

.category.git {
  background-color: #5e4fff31;
}

.img {
  border-radius: 50%;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
